@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ödeme Paneli</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="PaymentApplyProject.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .custom-container {
            width: 700px;
            height: 700px;
        }

        @@media only screen and (max-width:700px) {
            .custom-container {
                width: 100%;
                height: 100%;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
    <header>
    </header>
    <content>
        <div class="container custom-container text-center mt-5">
            <div class="card">
                <div class="card-header">
                    <h2>Havale ile Para Yatırım</h2>
                </div>
                <div class="card-body">
                    <div class="bs-stepper">
                        <div class="bs-stepper-header" role="tablist">
                            <div class="step" data-target="#banka-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="banka-part" id="banka-part-trigger">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">Banka</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#tutar-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="tutar-part" id="tutar-part-trigger">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">Tutar</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#hesap-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="hesap-part" id="hesap-part-trigger">
                                    <span class="bs-stepper-circle">3</span>
                                    <span class="bs-stepper-label">Hesap</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#onay-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="onay-part" id="onay-part-trigger">
                                    <span class="bs-stepper-circle">4</span>
                                    <span class="bs-stepper-label">Onay</span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <div id="banka-part" class="content" role="tabpanel" aria-labelledby="banka-part-trigger">
                                <div class="row">
                                    <div class="col-12 mb-3 text-start border-bottom">
                                        Banka seçiniz.
                                    </div>
                                    <div class="col-3">
                                        <div class="card">
                                            <a href="#" class="next" title="Akbank" data-bankaid="1">
                                                <img src="uploads/images/banks/akbank.png" class="card-img img-fluid" alt="akbank">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="card">
                                            <a href="#" class="next" title="Denizbank" data-bankaid="2">
                                                <img src="uploads/images/banks/denizbank.png" class="card-img img-fluid" alt="Denizbank">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="card">
                                            <a href="#" class="next" title="Garanti" data-bankaid="3">
                                                <img src="/uploads/images/banks/garanti.png" class="card-img img-fluid" alt="Garanti">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="card">
                                            <a href="#" class="next" title="QNB Finans" data-bankaid="4">
                                                <img src="uploads/images/banks/qnbfinans.png" class="card-img img-fluid" alt="QNB Finans">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="bankaId" id="bankaId" />
                            </div>
                            <div id="tutar-part" class="content" role="tabpanel" aria-labelledby="tutar-part-trigger">
                                <div class="alert alert-warning" id="tutar-alert" role="alert" style="display:none;">
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" step=".01" class="form-control" id="tutar" name="tutar" placeholder="Yatırım tutarı giriniz">
                                    <label for="tutar" class="form-label">Yatırım tutarı giriniz</label>
                                </div>
                            </div>
                            <div id="hesap-part" class="content" role="tabpanel" aria-labelledby="hesap-part-trigger">
                                <input type="hidden" name="bankaHesapId" id="bankaHesapId" />
                                <div class="alert alert-warning" id="bilgi-alert" role="alert">
                                </div>
                                <div class="mb-3 text-start">
                                    <label for="iban" class="form-label">IBAN</label>
                                    <input class="form-control" type="text" id="iban" disabled>
                                </div>
                                <div class="mb-3 text-start">
                                    <label for="adsoyad" class="form-label">Ad Soyad</label>
                                    <input class="form-control" type="text" id="adsoyad" disabled>
                                </div>
                                <p>
                                    İşleminizi gerçekleştirmenize <span id="counter-text">300</span> kadar saniye kaldı.
                                </p>
                            </div>
                            <div id="onay-part" class="content" role="tabpanel" aria-labelledby="onay-part-trigger">
                                <i class="fa-solid fa-thumbs-up fa-5x" id="result-icon"></i>
                                <div class="alert alert-success mt-1" id="result-alert" role="alert">
                                    Para yatırma talebiniz alınmıştır.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer" id="card-footer" style="display:none;">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary next" id="next-button" type="button">Sonraki Adım</button>
                        <a class="btn btn-secondary" id="back-to-main-page" href="https://grandpashabet1333.com" style="display:none;">Sayfaya Geri Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer class="border-top footer text-muted">
    </footer>

    <script>
        let backToMainPageButton = document.getElementById("back-to-main-page");
        let nextButton = document.getElementById("next-button");
        let cardFooter = document.getElementById("card-footer");
        let bilgiAlert = document.getElementById("bilgi-alert");
        let tutarAlert = document.getElementById("tutar-alert");
        let nextSteps = document.getElementsByClassName("next");

        let bankaIdInput = document.getElementById("bankaId");
        let tutarInput = document.getElementById("tutar");
        let bankaHesapIdInput = document.getElementById("bankaHesapId");

        let ibanInput = document.getElementById("iban")
        let adsoyadInput = document.getElementById("adsoyad")
        let counterText = document.getElementById("counter-text")

        let resultIcon = document.getElementById("result-icon")
        let resultAlert = document.getElementById("result-alert")

        GetBankaHesabi = async (data) => {
            let resultJson = await fetchHelper.send("paymentframe/getaccountinfo", "POST", {
                data: data
            })
            return resultJson
        }

        CounterFunc = () => {
            let sayac = parseInt(counterText.innerHTML)

            setInterval(() => {
                sayac--
                counterText.innerHTML = sayac
                if (sayac == 0)
                    window.location.reload()
            }, 1000)
        }

        ParaYatirmaTalepKaydet = async (data) => {
            let resultJson = await fetchHelper.send("paymentframe/savepayment", "POST", {
                data: data
            })
            return resultJson
        }

        document.addEventListener('DOMContentLoaded', async () => {
            let stepper = new Stepper(document.querySelector('.bs-stepper'));

            for (let i = 0; i < nextSteps.length; i++)
                nextSteps[i].addEventListener('click', async () => {
                    let currentIndex = stepper._currentIndex;
                    let currentStep = stepper._steps[currentIndex]

                    let currentStepName = currentStep.dataset.target;
                    if (currentStepName === "#banka-part") {
                        let bankaId = nextSteps[i].dataset.bankaid;
                        bankaIdInput.value = bankaId;

                        cardFooter.style.display = 'block'
                    }
                    else if (currentStepName === "#tutar-part") {
                        let tutar = parseFloat(tutarInput.value);
                        if (isNaN(tutar) || tutar == 0) {
                            tutarAlert.style.display = "block";
                            tutarAlert.innerHTML = "Lütfen geçerli bir tutar giriniz.";
                            return;
                        }

                        let data = {
                            bankaId: bankaIdInput.value,
                            tutar: tutar
                        }
                        let result = await GetBankaHesabi(data)
                        if (!result.isSuccessful) {
                            tutarAlert.style.display = "block";
                            tutarAlert.innerHTML = "Lütfen belirlenen değerler arasında bir tutar giriniz.";
                            return;
                        }

                        nextButton.innerHTML = "Ödeme Yaptım"
                        bankaHesapIdInput.value = result.data.bankaHesapId
                        ibanInput.value = result.data.hesapNumarasi
                        adsoyadInput.value = `${result.data.ad} ${result.data.soyad}`
                        bilgiAlert.innerHTML = `Kendi adınıza ait hesap üzerinden ${tutar} TL tutarı aşağıdaki hesaba gönderdikten sonra onayla butonuna basınız.`;

                        CounterFunc()
                    }
                    else if (currentStepName === "#hesap-part") {
                        let data = {
                            musteriId: "@ViewBag.MusteriId",
                            bankaHesapId: bankaHesapIdInput.value,
                            tutar: tutarInput.value
                        }

                        let result = await ParaYatirmaTalepKaydet(data)

                        if (!result.isSuccessful) {
                            resultIcon.classList.add("fa-thumbs-down");
                            resultAlert.classList.add("alert-danger");
                            resultAlert.innerHTML = `İşlemde bir hata oluştu, ${result.message}`
                        }
                        nextButton.style.display = 'none'
                        backToMainPageButton.style.display = 'block'
                    }

                    stepper.next();
                });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/fetchHelper.js"></script>
</body>
</html>
